// about
.section-aboutUs {
    background-color: $color-light-grey-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

//features
.section-work-box {
    padding: 20rem 0;

    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url(../img/work-box.jpg);
    background-size: cover;
    // slanting the background
    // transform: skewY(-7deg);
    // margin-top: -10rem;
    // // box is not included in slanting effect
    // & > * {
    //     transform: skewY(7deg);
    // }
}